.buttonLinks {
  text-decoration: none;
  color: inherit;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  border-bottom: solid thin white;
  border-radius: 50px;
  width: 100px;
  background-color: inherit;
}
p {
  margin: 5px !important;
}
.buttonLinks:hover {
  text-decoration: none;
  border-bottom: solid thin white;
  border-radius: 50px;
  background-color: white;
  color: black;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  font-family: lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(34, 34, 34, 0.9);
}
.PDF {
  max-height: 1200px;
}
/* .PDF:hover {
  zoom: 1.2;
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  -webkit-transition: height 2s;
  transition: height 2s;
  /* padding: 20px; */
  color: white;
}
.profileWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  width: 100%;
  /* height: 100%; */
}
.catsWrapper {
  color: white;
  display: inline-flex;
  justify-content: space-around;
  width: 100vw;
  overflow: hidden;
  height: 99%;
  margin: 2px;
  text-align: center;
}
.cats {
  display: flex;
  width: 33.33vw;
  /* border: solid white thin; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}
.cats:hover {
  background: white;
  color: black;
  /* box-shadow: 2px 2px 2px 2px #222; */
  font-size: 2.7em;
}
.headShot {
  /* zoom: 0.3; */
  margin: 10px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #222;
}
.App-header:hover {
  height: 50vh;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cats > a {
  text-decoration: none;
  color: inherit;
  line-height: 800px;
}
/* STORY */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.story {
  position: absolute;
  top: 0px;
  -webkit-transition: height 2s;
  transition: height 2s;
  /* -webkit-transition: height 20s;
  transition: height 20s; */
  height: 100vh;
  width: inherit;
  /* overflow: hidden; */
  z-index: 100;
  /* background: rgb(173, 216, 230); */
  background: black;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  overflow: scroll;
}
.storyBackground {
  /* background-image: url("https://i.pinimg.com/originals/fc/1a/79/fc1a79858fbfff72ce6b96d62f065dc4.jpg"); */
}
.backButton {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  left: 5px;
  background: black;
  border-radius: 25px;
  color: white;
  font-size: 2em;
  box-shadow: 2px 2px 2px 2px white;
}
.backButton:hover {
  background: white;
  /* border: #00c500 thin solid; */
  color: black;
  cursor: pointer;
}
.backButton:active {
  box-shadow: none;
}
.story > a {
  text-decoration: none;
}
/* SKILLS */
.icons {
  padding-left: 85px;
  padding-right: 85px;
  margin: 0 auto;
  font-size: 5em;
  color: white;
  /* font-weight: 600; */
  height: 200px;
  line-height: 1;
}
.icons:hover {
  opacity: 0.7;
}
.skillName {
  font-size: 30px;
}
.hr {
  width: 90vw;
  font-weight: 800;
}
.swal-modal {
  height: 90vh;
  width: 90vw;
}
.devicon-javascript-plain {
  color: #f0db4f;
}
.devicon-react-original {
  color: #61dbfb;
}
.devicon-html5-plain {
  color: #f16529;
}
.devicon-css3-plain {
  color: #1572b6;
}
.devicon-nodejs-plain {
  color: #8bc500;
}
.devicon-postgresql-plain {
  color: #336791;
}
.devicon-git-plain {
  color: #f05133;
}
.devicon-bootstrap-plain {
  color: #573d7a;
}
.devicon-java-plain {
  color: #e74c3c;
}
.devicon-python-plain {
  color: #376d9c;
}
.devicon-vuejs-plain {
  color: #41b883;
}
/* 61dbfb 
1572B6
8BC500
336791
F05133
573D7A
E74C3C
376D9C
41B883
*/
/* Accomplishments */
.myClassname {
  padding: 5px;
  height: 500px;
  width: 500px;
}
.projectsWrapper {
  /* padding: 40px; */
  color: white;
  justify-content: space-between;
  overflow: hidden !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.projects {
  width: 100%;
  justify-content: center !important;
  align-items: center;
  position: absolute;
  top: 0px;
  text-align: center;
  /* overflow: hidden; */
  z-index: 100;
  /* background: rgb(173, 216, 230); */
  background: black;
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0px 60px 0px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  overflow: hidden;
  margin: 0 auto;
}
.singleProjectBox {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
.projectLinks {
  text-decoration: none;
  color: blue;
  transition: color 0.5s;
}
.projectLinks:hover {
  color: white;
}
@media only screen and (max-width: 800px) {
  .PDF {
    zoom: 0.6;
  }
  .myClassname {
    zoom: 0.6;
  }
  .projectsWrapper {
    overflow: scroll;
    width: 96vw;
  }
  .cats:hover {
    font-size: 2.1em;
  }
  .singleProjectBox {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .PDF {
    zoom: 0.45;
  }
  .cats:hover {
    font-size: 1.5em;
  }
  .singleProjectBox {
    zoom: 0.7;
    border: solid white thin;
  }
}
